$color: #0081c2;

.files-panel {
  display: inline-block;
  background: gray;
  padding:5px;
  border-radius: 3px;
}

.files-list {
  background: #f7f7f7;
  margin:0;
  padding: 5px;
  line-height: 19px;
  border: 1px solid #eee;
  border-radius: 3px;
  &, ul{
    list-style: none;
    display: inline-block;
  }

  ul {
    margin-left: 20px;
  }

  li {
    position: relative;
    cursor: pointer;

    .title {
      border-radius: 3px;
      &:hover {
        background-color: #ccc;
      }
      > div {
        display: inline-block;
        margin-right: 5px;
        &:last-child {
          margin-right: 0px;
        }
      }

      .stats {
        color:#777;
      }
    }

    .title {
      font-size: 14px;
      padding: 0 5px;
      padding-left: 25px;
    }
      &:before {
        font-family: 'entypo';
        display:inline-block;
        font-size:28px;
        position: absolute;
        left:5px;
      }
    &.dir-node:before {
      content: '\1F4C1';
    }

    &:not(.dir-node):before {
      content: '\E730';
    }

  }
}