@import 'vars';

.file-details {
  .header {
    position: relative;
    padding: 20px;
    margin:5px;
    border-bottom: 1px solid #ddd;
    display: -webkit-flex;

    .file-name {
      font-size: 30px;
    }

    .info-block {
      position: absolute;
      right:10px;
      height: 30px;
      background: $lightBg;
      line-height: 20px;
      padding:5px;
      border-radius: $radius;
    }
  }
  .requires-list {
    margin-left: 10px;
    display: inline-block;
    > div, li {
      background: #ddd;
      color: #333;
      margin-right: 5px;
      padding: 5px;
      margin-bottom: 5px;
      border-radius: $radius;
      border: 1px solid #ccc;
    }
    ul {
      display: inline-block;
      height: 0;
      overflow: hidden;
    }
    &:hover ul {
      height: auto;
    }

    li {
      cursor: pointer;
      &:hover {
        background: #e6e6e6;
      }
    }


    div {
      display: inline-block;
    }

  }
}
