@import "../bower_components/bootstrap-sass/lib/bootstrap";
@import "file-list";


html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.container {
  width: 100%;
}