<script type="text/ng-template" id="tree-item-renderer.html" xmlns="">
    <div class="node" ng-class= "{ 'root-node' : node.name=='root'}" ng-switch="node.expanded">
        <div class="title" ng-class= "{  selected: node.selected } ">
            <div class="name">{{node.name}}</div>
            <div class="stats" ng-show="node.file">({{ node.file.requires.length }}/{{ node.file.requiredFromCount }})</div>
        </div>
        <ul ng-switch-when="true">
            <li ng-repeat="(name,node) in node.children | orderBy:nameOrder" ng-include="'tree-item-renderer.html'" ng-click="onClick(node)" stop-event="click"
                ng-class="{ 'dir-node' : !node.file }"></li>
        </ul>
    </div>
</script>


<div class="files-panel">
    <div class="header">

    </div>
    <div class="files-list">
        <ng-include src="'tree-item-renderer.html'"></ng-include>
    </div>

</div>
